.gallery { display: grid; gap: 10px; margin-bottom: 10px; transition: all 190ms linear 0.1ms }
.gallery.gallery-columns-2 {grid-template-columns: repeat(2, 1fr); transition: all 150ms linear 0.1ms}
.gallery.gallery-columns-3 {grid-template-columns: repeat(3, 1fr); transition: all 150ms linear 0.1ms}
.gallery.gallery-columns-4 {grid-template-columns: repeat(4, 1fr); transition: all 150ms linear 0.1ms}
.gallery.gallery-columns-5 {grid-template-columns: repeat(5, 1fr); transition: all 150ms linear 0.1ms}
.gallery.gallery-columns-6 {grid-template-columns: repeat(6, 1fr); transition: all 150ms linear 0.1ms}
.gallery.gallery-columns-7 {grid-template-columns: repeat(7, 1fr); transition: all 150ms linear 0.1ms}
.gallery.gallery-columns-8 {grid-template-columns: repeat(8, 1fr); transition: all 150ms linear 0.1ms}
.gallery.gallery-columns-9 {grid-template-columns: repeat(9, 1fr); transition: all 150ms linear 0.1ms}


.gallery .size-full,
.gallery .size-large,
.gallery .size-medium,
.gallery .size-wpex-post,
.gallery .attachment-full,
.gallery .attachment-large,
.gallery .attachment-medium,
.gallery .attachment-wpex-post {aspect-ratio:9/16 !important; width: 100% !important; object-fit: cover; object-position: top center; }
