/*--------------------------*
/*  jetpack Styles
/*--------------------------*/

.jetpack_widget_social_icons ul.size-medium a {
    display: inline-bock !important;
    height: 40px !important;
    width: 40px !important;
    background: var(--universal-accent-color); !important;
    color: var(--universal-accent-color-text-color) !important;
    border-radius:2px !important;
    padding: 5px !important;
    margin-left: 2px !important;
}
.jetpack_widget_social_icons ul.size-medium a:hover {
    background: #111 !important;
}

.jetpack-slideshow-window {
    border-radius: 0px !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.jetpack-slideshow-window .jetpack-slideshow-controls a,
.jetpack-slideshow-window .jetpack-slideshow-controls a:hover {
    transform: scale(1.5);
    margin: 0 30px !important;
    transition: all 200ms linear 0s;
}

/*--------------------------*
/*  CookieYes Styles
/*--------------------------*/

#cookie-law-info-bar,
#cookie-law-info-again {box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 0 0 !important}
.wt-cli-ccpa-checkbox {display: inline-flex;}

/*--------------------------*
/*  Tinymce Styles
/*--------------------------*/

/*---------- marctv-quicktags ----------*/
#wp-comment-editor-container {
    margin-bottom: 10px;
}
#wp-comment-editor-container .quicktags-toolbar {
    display: flex;
    background: #111;
    border:none;
    border-radius:var(--radius-inputs) var(--radius-inputs) 0 0;
}
#qt_comment_toolbar input[type="button"] {
    background:transparent;
    font-size: 18px;
    width:35px;
    color:#aaa;
    border:none;
    cursor:pointer;
    appearance:none;
    border:1px solid var(--universal-accent-color);
}
#qt_comment_toolbar input[type="button"]:hover ,#qt_comment_toolbar input[type="button"]:active {
    background:transparent;
    color: var(--universal-accent-color);
}
#comment-form-comment textarea {
    margin-top: -25px !important;
    top: -25px !important;
    min-height: 200px !important;
}
#comment-form-comment .comment-form-cookies-consent {
    display: flex !important;
}
#comment-form-comment lable {
    margin-bottom:0px !important;
}


/*--------------------------*
/*  Github Widget Styles
/*--------------------------*/

.github-widget .github-widget-header,
.github-widget input[type="checkbox"] {
    display:none !important;
    visibility:collapse !important;
}
.dark {
    background: #111 !important;
    color: #FFF !important;
    padding: 10px;
    border-radius: 0px !important;
}
.dark * {
    color: #FFF !important;
    border-radius: 0px !important;
}

/*--------------------------*
/* Universal Meta oEmbed
/*--------------------------*/

.instagram-media,
.instagram-media-rendered {
    border-radius: 0px !important;
    box-shadow: none !important;
    display: block !important;
    margin: 0px !important;
    padding: 0px !important;
}

/*--------------------------*
/* WPG Slider
/*--------------------------*/
#post-gallery .wpg-slider img,
#post-gallery .wpg-slider .wpg-slider-item-inner { max-height: 512px !important; width: 100%; }
#post-gallery .wpg-slider .wpg-slider-item .wpg-slider-item-inner .wpg-slider-content {
    padding-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-break: anywhere;
    -webkit-box-orient: vertical;
}

/*--------------------------*
/* SB AuthorBox
/*--------------------------*/
.sb-author-box-social-links a { border-radius: var(--radius-inputs) }
