/*--------------------------*
/*  jetpack Styles
/*--------------------------*/

.jetpack_widget_social_icons ul.size-medium a {
    display: inline-bock !important;
    height: 40px !important;
    width: 40px !important;
    background: var(--universal-accent-color); !important;
    color: var(--universal-accent-color-text-color) !important;
    border-radius:2px !important;
    padding: 5px !important;
    margin-left: 2px !important;
}
.jetpack_widget_social_icons ul.size-medium a:hover {
    background: #111 !important;
}

.jetpack-slideshow-window {
    border-radius: 0px !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.jetpack-slideshow-window .jetpack-slideshow-controls a,
.jetpack-slideshow-window .jetpack-slideshow-controls a:hover {
    transform: scale(1.5);
    margin: 0 30px !important;
    transition: all 200ms linear 0s;
}

/*--------------------------*
/*  CookieYes Styles
/*--------------------------*/

#cookie-law-info-bar,
#cookie-law-info-again {box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 0 0 !important}
.wt-cli-ccpa-checkbox {display: inline-flex;}

/*--------------------------*
/*  Tinymce Styles
/*--------------------------*/

#comment-form-comment .comment-form-cookies-consent {
    display: flex !important;
}
#comment-form-comment lable {
    margin-bottom:0px !important;
}

/*--------------------------*
/* Universal Meta oEmbed
/*--------------------------*/

.instagram-media,
.instagram-media-rendered {
    border-radius: 0px !important;
    box-shadow: none !important;
    display: block !important;
    margin: 0px !important;
    padding: 0px !important;
}

/*--------------------------*
/* WPG Slider
/*--------------------------*/
#post-gallery .wpg-slider img,
#post-gallery .wpg-slider .wpg-slider-item-inner { max-height: 512px !important; }
#post-gallery .wpg-slider .wpg-slider-item .wpg-slider-item-inner .wpg-slider-content {
    padding-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-break: anywhere;
    -webkit-box-orient: vertical;
}

/*--------------------------*
/* SB AuthorBox
/*--------------------------*/
.sb-author-box-social-links a { border-radius: var(--radius-inputs) }
