@media only screen and (max-width:959px) { 
	#logo { display: flex; align-items: center; justify-content: center; margin-bottom: 10px }
    #logo a { flex-direction: column; gap: 0; padding: 0 }
	#logo a h1 { padding: 5px 0 }
    #nav-spacer,
    #navigation { display: none; }
    #mobile-navigation { display: block;}
}
@media only screen and (max-width:1059px) {
    .single-post-meta { display: grid; gap: 2px }
    .single-post-meta li { display: block; margin-right: 0px; padding-right: 0 }
    .single-post-meta-divider:not(:last-child)::after { content: "" }
}
@media only screen and (min-width:480px) and (max-width:1044px) {
    .author-inner { flex-direction: column }
}
@media only screen and (min-width:480px) and (max-width:959px) {
    #wrap { width: 100% }
}
@media only screen and (min-width:768px) and (max-width:959px) {
    #post { width: calc(100% - 250px) }
	#sidebar { width: 190px }
	.sidebar-bg { background-image: url("../images/sidebar-bg-tablet.png") }
	.children li.depth-2,
	.children li.depth-3,
	.children li.depth-4,
	.children li.depth-5,
	.children li.depth-6,
	.children li.depth-7,
	.children li.depth-8,
	.children li.depth-9,
	.children li.depth-10 { margin: 0 }
	.search-entry-text { width: 240px }
}
@media only screen and (max-width:767px) {
	#post { float: none; width: 100% }
    #sidebar { float: none; width: 100% }
    #footer-widgets { display: block }
	.footer-box { width: 100% }
	.entry blockquote { margin-left: 0; margin-right: 0; }
	.sidebar-bg { background-image: none !important; margin-bottom: 0; }
	#sidebar { width: 100%; background: #f9f9f9; margin-top: 30px; padding: 30px; border: 1px solid #ddd; }
	#error-page-text { font-size: 14px }
	#author-image { margin-bottom: 10px }
	#author-bio { width: 100% }
	.comment-details { margin-left: 0 }
	.comment-details:after { display: none }
	.comment-avatar { display: inline-block; margin-bottom: 10px; position: inherit; top: auto; left: auto; }
	.comment-date { display: block }
	.comment-reply-link { display: block; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ddd; }
	.children { margin: 30px 0 0 }
	.children li.depth-2,
	.children li.depth-3,
	.children li.depth-4,
	.children li.depth-5,
	.children li.depth-6,
	.children li.depth-7,
	.children li.depth-8,
	.children li.depth-9,
	.children li.depth-10 { margin: 0 }
	.symple-one-half,
	.symple-one-third,
	.symple-two-third,
	.symple-three-fourth,
	.symple-one-fourth,
	.symple-one-fifth,
	.symple-two-fifth,
	.symple-three-fifth,
	.symple-four-fifth,
	.symple-one-sixth,
	.symple-five-sixth { width: 100%; float: none; margin-right: 0; margin-bottom: 20px; }
	.symple-pricing-table > div { margin-bottom: 25px }
	.symple-box,
	.symple-box.left,
	.symple-box.right { float: none; width: 100% !important; }
}
@media only screen and (max-width:767px) {
    #wrap { width: 100% }
}

@media only screen and (max-width:610px) {
    .single-post-meta li { display: block; margin-right: 0px; padding-right: 0;}
    .single-post-meta-divider:not(:last-child)::after {content: ""; }
    .author-inner { flex-direction: column; align-items: center; justify-content: center }
}
