/* Universal Flex Grid stylesheet */
/* Some handy CSS rules for modern CSS3 */
/* Author: DJABHipHop */

:root {
  --u-tb: 250ms linear 0ms;
  --u-detial-transition: height var(--u-tb), content-visibility var(--u-tb) allow-discrete;
  --u-pos-transition: top var(--u-tb), right var(--u-tb), bottom var(--u-tb), left var(--u-tb);
}

/* Flex and Grid Utilities */
.u-none {display: none;}
.u-block {display: block;}
.u-block-100 {width: 100% !important}
.u-max-100 {max-width: 100%}

.u-flex {display: flex;}

.u-flex-inline {display: inline-flex;}

.u-flex-none {display: list-item !important;}

.u-cf:before,
.u-cf:after {content: ""; display: table}
.u-cf:after {clear: both}
.u-cf {zoom: 1}

.u-float-l {float: left;}
.u-float-r {float: right;}

.u-img {width: 100%; max-width: 100%; object-fit: contain}

.u-glass-5 {backdrop-filter: blur(5px)}
.u-glass-10 {backdrop-filter: blur(10px)}
.u-glass-15 {backdrop-filter: blur(15px)}
.u-glass-20 {backdrop-filter: blur(20px)}
.u-glass-25 {backdrop-filter: blur(25px)}

.u-flex-wrap {flex-wrap: wrap;}

.u-flex-nowrap {flex-wrap: nowrap;}

/* Flex Direction Column */
.u-flex-col {flex-direction: column;}

/* Flex Direction Row */
.u-flex-row {flex-direction: row;}

/* Columns for 1/1 to 1/10 */
.u-col-1 {flex: 1; width: 100%;}
.u-col-2 {flex: 1; width: calc(50% - 5px);}
.u-col-3 {flex: 1; width: calc(33.33% - 6.67px);}
.u-col-4 {flex: 1; width: calc(25% - 7.5px);}
.u-col-5 {flex: 1; width: calc(20% - 8px);}
.u-col-6 {flex: 1; width: calc(16.67% - 8.33px);}
.u-col-7 {flex: 1; width: calc(14.29% - 8.57px);}
.u-col-8 {flex: 1; width: calc(12.5% - 8.75px);}
.u-col-9 {flex: 1; width: calc(11.11% - 8.89px);}
.u-col-10 {flex: 1; width: calc(10% - 9px);}

/* Flex Gap 1-10 */
.u-flex-gap-0 {gap:1px;}
.u-flex-gap-1 {gap:1px;}
.u-flex-gap-2 {gap:2px;}
.u-flex-gap-3 {gap:3px;}
.u-flex-gap-4 {gap:4px;}
.u-flex-gap-5 {gap:5px;}
.u-flex-gap-6 {gap:6px;}
.u-flex-gap-7 {gap:7px;}
.u-flex-gap-8 {gap:8px;}
.u-flex-gap-9 {gap:9px;}
.u-flex-gap-10 {gap:10px;}
.u-flex-gap-11 {gap:12px;}
.u-flex-gap-12 {gap:12px;}
.u-flex-gap-13 {gap:13px;}
.u-flex-gap-14 {gap:14px;}
.u-flex-gap-15 {gap:15px;}
.u-flex-gap-16 {gap:16px;}
.u-flex-gap-17 {gap:17px;}
.u-flex-gap-18 {gap:18px;}
.u-flex-gap-19 {gap:19px;}
.u-flex-gap-20 {gap:20px;}

.u-grid {display:grid;}

/*.u-grid-masonry {grid-template-rows: masonry;}*/

/* Grid Columns and Rows (1-10) */

/* Grid Columns */
.u-grid-col-1 {grid-template-columns:100%;}
.u-grid-col-p {grid-template-columns: 300px 1fr;}
.u-grid-col-2 {grid-template-columns: repeat(2, 1fr);}
.u-grid-col-3 {grid-template-columns: repeat(3, 1fr);}
.u-grid-col-4 {grid-template-columns: repeat(4, 1fr);}
.u-grid-col-5 {grid-template-columns: repeat(5, 1fr);}
.u-grid-col-6 {grid-template-columns: repeat(6, 1fr);}
.u-grid-col-7 {grid-template-columns: repeat(7, 1fr);}
.u-grid-col-8 {grid-template-columns: repeat(8, 1fr);}
.u-grid-col-9 {grid-template-columns: repeat(9, 1fr);}
.u-grid-col-10 {grid-template-columns: repeat(10, 1fr);}
.u-grid-col-s {grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));}
.u-grid-col-auto {grid-template-columns: repeat(auto-fill, minmax(var(--u-post-item-min-width), 1fr));}
.u-grid-wsb {grid-template-columns: auto var(--u-post-sb-width);}

/* Grid Rows */
.u-grid-row-1 {grid-template-rows: 100%;}
.u-grid-row-2 {grid-template-rows: repeat(2, 1fr);}
.u-grid-row-3 {grid-template-rows: repeat(3, 1fr);}
.u-grid-row-4 {grid-template-rows: repeat(4, 1fr);}
.u-grid-row-5 {grid-template-rows: repeat(5, 1fr);}
.u-grid-row-6 {grid-template-rows: repeat(6, 1fr);}
.u-grid-row-7 {grid-template-rows: repeat(7, 1fr);}
.u-grid-row-8 {grid-template-rows: repeat(8, 1fr);}
.u-grid-row-9 {grid-template-rows: repeat(9, 1fr);}
.u-grid-row-10 {grid-template-rows: repeat(10, 1fr);}
.u-grid-row-auto {grid-template-rows: repeat(auto-fill, minmax(var(--u-post-item-min-height), 1fr));}

/* Grid Gap 1-10 */
.u-grid-gap-0 {grid-gap:0px;}
.u-grid-gap-1 {grid-gap:1px;}
.u-grid-gap-2 {grid-gap:2px;}
.u-grid-gap-3 {grid-gap:3px;}
.u-grid-gap-4 {grid-gap:4px;}
.u-grid-gap-5 {grid-gap:5px;}
.u-grid-gap-6 {grid-gap:6px;}
.u-grid-gap-7 {grid-gap:7px;}
.u-grid-gap-8 {grid-gap:8px;}
.u-grid-gap-9 {grid-gap:9px;}
.u-grid-gap-10 {grid-gap:10px;}
.u-grid-gap-11 {grid-gap:11px;}
.u-grid-gap-13 {grid-gap:12px;}
.u-grid-gap-14 {grid-gap:13px;}
.u-grid-gap-15 {grid-gap:14px;}
.u-grid-gap-16 {grid-gap:15px;}
.u-grid-gap-17 {grid-gap:16px;}
.u-grid-gap-17 {grid-gap:17px;}
.u-grid-gap-18 {grid-gap:18px;}
.u-grid-gap-19 {grid-gap:19px;}
.u-grid-gap-20 {grid-gap:20px;}
.u-grid-gap {grid-gap: var(--grid-gap);}

/* Masonry Grid Crap */
.u-masonry {columns: 240px;}

.u-masonry-brake {break-inside: avoid;}

.u-masonry-brake::after {content: ""; display: table; clear: both; break-inside: avoid;}

.u-masonry-col-gap-1 {column-gap:0px;}
.u-masonry-col-gap-1 {column-gap:1px;}
.u-masonry-col-gap-2 {column-gap:2px;}
.u-masonry-col-gap-3 {column-gap:3px;}
.u-masonry-col-gap-4 {column-gap:4px;}
.u-masonry-col-gap-5 {column-gap:5px;}
.u-masonry-col-gap-6 {column-gap:6px;}
.u-masonry-col-gap-7 {column-gap:7px;}
.u-masonry-col-gap-8 {column-gap:8px;}
.u-masonry-col-gap-9 {column-gap:9px;}
.u-masonry-col-gap-10 {column-gap:10px;}

.u-masonry-row-gap-1:not(:last-child) {margin-bottom: 0px;}
.u-masonry-row-gap-1:not(:last-child) {margin-bottom: 2px;}
.u-masonry-row-gap-2:not(:last-child) {margin-bottom: 2px;}
.u-masonry-row-gap-3:not(:last-child) {margin-bottom: 3px;}
.u-masonry-row-gap-4:not(:last-child) {margin-bottom: 4px;}
.u-masonry-row-gap-5:not(:last-child) {margin-bottom: 5px;}
.u-masonry-row-gap-6:not(:last-child) {margin-bottom: 6px;}
.u-masonry-row-gap-7:not(:last-child) {margin-bottom: 7px;}
.u-masonry-row-gap-8:not(:last-child) {margin-bottom: 8px;}
.u-masonry-row-gap-9:not(:last-child) {margin-bottom: 9px;}
.u-masonry-row-gap-10:not(:last-child) {margin-bottom: 10px;}

/* Align Items */
.u-ai-e {align-items: end;}
.u-ai-s {align-items: start;}
.u-ai-c {align-items: center;}
.u-ai-st {align-items: stretch;}
.u-ai-fe {align-items: flex-end;}
.u-ai-fs {align-items: flex-start;}

/* Align Content */
.u-ac-e {align-content: end;}
.u-ac-s {align-content: start;}
.u-ac-c {align-content: center;}
.u-ac-st {align-content: stretch;}
.u-ac-sa {align-content: space-around;}
.u-ac-sb {align-content: space-between;}

/* Justify Content (for containers) */
.u-jc-e {justify-content: end;}
.u-jc-s {justify-content: start;}
.u-jc-c {justify-content: center;}
.u-jc-fe {justify-content: flex-end;}
.u-jc-fs {justify-content: flex-start;}
.u-jc-se {justify-content: space-evenly;}
.u-jc-sa {justify-content: space-around;}
.u-jc-sb {justify-content: space-between;}

/* Justify Items (for grid items) */
.u-ji-e {justify-items: end;}
.u-ji-s {justify-items: start;}
.u-ji-c {justify-items: center;}
.u-ji-fe {justify-items: flex-end;}
.u-ji-fs {justify-items: flex-start;}
.u-ji-se {justify-items: space-evenly;}
.u-ji-sa {justify-items: space-around;}
.u-ji-sb {justify-items: space-between;}

/* Position */
.u-pos-none {position: unset !important; transition: var(--u-pos-transition);}
.u-pos-rel {position: relative !important; transition: var(--u-pos-transition);}
.u-pos-abs {position: absolute !important; transition: var(--u-pos-transition);}
.u-pos-fix {position: fixed !important; transition: var(--u-pos-transition);}
.u-pos-sta {position: static !important; transition: var(--u-pos-transition);}
.u-pos-sti {position: sticky !important; transition: var(--u-pos-transition);}

/* Text Alignment */
.u-ta-l {text-align: left !important;}
.u-ta-c {text-align: center !important;}
.u-ta-r {text-align: right !important;}

/* Font-Weight */
.u-fw-ultra-thin {font-weight: 50 !important;}
.u-fw-thin {font-weight: 100 !important;}
.u-fw-normal {font-weight: 400 !important;}
.u-fw-medium {font-weight: 500 !important;}
.u-fw-thick {font-weight: 700 !important;}
.u-fw-ultra-thick {font-weight: 900 !important;}

/* Text Trimming Add --u-line-clamp As Inline Style To Make Work*/
.u-trim {display: -webkit-box; -webkit-line-clamp: var(--u-line-clamp, 1); -webkit-box-orient: vertical; overflow: hidden; line-break: anywhere; }

/* Text Wrapping */
.u-wrap-text-none {overflow-wrap: none !important; word-break: none !important; hyphens: none !important;}
.u-wrap-text {overflow-wrap: break-word !important; word-break: break-word !important; hyphens: auto !important;}
.u-wrap-text-any {overflow-wrap: anywhere !important; word-break: break-word !important; hyphens: auto !important;}
.u-wrap-text-all {overflow-wrap: break-word !important; word-break: break-all !important; hyphens: auto !important;}

/* Text Transform */
.u-tt-all-caps {text-transform: capitalize !important;}
.u-tt-all-uppercase {text-transform: uppercase !important;}
.u-tt-all-lowercase {text-transform: lowercase !important;}

.u-margin-none {margin: 0px !important;}
.u-margin-top-10 {margin-top: 10px !important;}
.u-margin-bottom-10 {margin-bottom: 10px !important;}
.u-margin-top-30 {margin-top: 30px !important;}
.u-margin-bottom-30 {margin-bottom: 30px !important;}

.u-padding-5 {padding: 5px !important;}
.u-padding-10 {padding: 10px !important;}

.u-fit-all .post-thumbnail iframe {object-fit:contain; max-height: none !important;}

.u-border-left {border-left-width: 1px !important;}

/* Spacer */
.u-spacer-v,
.u-spacer-h {border: 0;}

/* Spacers - Vertical */
.u-spacer-v {margin: 5px 10px; width: 1px;}

/* Spacers - Horizontal */
.u-spacer-h {margin-top: 12px; margin-bottom: 12px; height: 1px;}
.u-spacer-h-l {height: 1px;}
.u-spacer-text::after {content:"-"; display: flex; height: 1px; width: 100%;}

/* Light Spacer */
.u-spacer-light,
.u-spacer-text-light::after {background: #ccc;}

.u-spacer-accent {background: var(--universal-accent-color);}

/* Medium Spacer */
.u-spacer-medium,
.u-spacer-text-medium::after {background: #ddd;}

/* Dark Spacer */
.u-spacer-dark,
.u-spacer-text-dark::after {background: #555;}

/* Border */
.u-border-light {border: 1px solid #ccc;}
.u-border-dark {border: 1px solid #555;}

.u-error-message {font-size: 105px; text-align: center; font-weight: bold;}

.u-additional-text-no-margin {font-size: 65px;  font-weight: lighter; color: #999; text-align: center;}

.u-additional-text {font-size: 65px; color: #999;  font-weight: lighter; text-align: center;}
.u-search {width:100%;}

/* Reset List Style */
.u-list {list-style:none;}

/* Make it Fit */
.u-fit{object-fit: cover !important; object-view-box: none !important; object-position: top center !important;}

.u-fake-form {padding: 20px !important;}
.u-pm-none {padding: 0px !important; margin: 0px !important;}

.u-spacer-128 {height: 128px; width: 128px;}

/* Requird Text */
.required {color:red; vertical-align: middle;}

/* Common Font Sizes */
.u-fs-12 {font-size: 12px !important;}
.u-fs-14 {font-size: 14px !important;}
.u-fs-16 {font-size: 16px !important;}
.u-fs-18 {font-size: 18px !important;}
.u-fs-20 {font-size: 20px !important;}
.u-fs-24 {font-size: 24px !important;}
.u-fs-26 {font-size: 26px !important;}
.u-fs-30 {font-size: 30px !important;}
.u-fs-50 {font-size: 50px !important;}

/* Responsive Image */
.u-image {width: 100%; max-width: 100%; height: auto; max-height: 100%;}

.u-c-1200 {width: 1200px;}
.u-c-auto {margin: 0 auto;}

/* Common Media Aspect Ratios */
.u-media-1-1,
.size-thumbnail,
.attachment-thumbnail {aspect-ratio:1/1 !important; object-fit: cover; object-position: top center;}
.u-media-4-3 {aspect-ratio:4/3 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-16-9 {aspect-ratio:16/9 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-21-9 {aspect-ratio:21/9 !important; width: 100% !important; bject-fit: cover; object-position: top center;}
.u-media-3-2 {aspect-ratio:3/2 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-5-4 {aspect-ratio:5/4 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-2-1 {aspect-ratio:2/1 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-3-4 {aspect-ratio:3/4 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-9-16 {aspect-ratio:9/16 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-1-2 {aspect-ratio:1/2 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-2-3 {aspect-ratio:2/3 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-4-5 {aspect-ratio:4/5 !important; width: 100% !important; object-fit: cover; object-position: top center;}
.u-media-9-21 {aspect-ratio:9/21 !important; width: 100% !important; object-fit: cover; object-position: top center;}

/* Missing Image */
.u-media-missing-img { width: 100% !important; background-color: #212121; position: relative; }
.u-media-missing-img .dashicons,
.u-media-missing-img .dashicons::before { display: flex; align-items: center; justify-content: center; color: white; font-size: 96px; width: 100%; height: 100%;}

/* Image With Link */
.u-link-img { text-decoration: none !important; color: white !important;}

/* Text Color*/
.u-text-dark { color: #000; }
.u-text-light { color: #fff; }
.u-text-medium { color: #666; }
.u-text-accent { color: var(--universal-accent-color); }

/* Reset Margin */
.u-margin-0 { margin: 0 !important; }
.u-margin-0-t { margin-top: 0 !important; }
.u-margin-0-l { margin-left: 0 !important; }
.u-margin-0-r { margin-right: 0 !important; }
.u-margin-0-b { margin-bottom: 0 !important; }

/* Reset Padding */
.u-padding-0 { padding: 0 !important; }
.u-padding-0-t { padding-top: 0 !important; }
.u-padding-0-l { padding-left: 0 !important; }
.u-padding-0-r { padding-right: 0 !important; }
.u-padding-0-b { padding-bottom: 0 !important; }

/* Mic Rules */
.u-pe-none { pointer-events:none; }
.u-di-fix { display: flex; align-items: center; justify-content: center; }
.u-focus-none { user-focus:none; -webkit-user-focus:none; -moz-user-focus:none; -ms-user-focus:none; }
.u-select-none { user-select:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
.u-wide button,
.u-wide .u-link-button,
.u-wide input[type=reset],
.u-wide input[type=submit],
.u-wide input[type=button] {
  width: 100%;
}

/* Width Utilities */
.u-w-a { width: auto !important; } /* Width set to auto */
.u-w-f { width: fit-content !important; } /* Width shrinks to fit content */
.u-w-mx { width: max-content !important; } /* Width expands to largest content */
.u-w-mn { width: min-content !important; } /* Width shrinks to smallest possible */

/* Height Utilities */
.u-h-a { height: auto !important; } /* Height set to auto */
.u-h-f { height: fit-content !important; } /* Height shrinks to fit content */
.u-h-mx { height: max-content !important; } /* Height expands to largest content */
.u-h-mn { height: min-content !important; } /* Height shrinks to smallest possible */

/* Overflow all directions */
.u-overflow-visible { overflow: visible !important; }
.u-overflow-hidden { overflow: hidden !important; }
.u-overflow-clip { overflow: clip !important; }
.u-overflow-scroll { overflow: scroll !important; }
.u-overflow-auto { overflow: auto !important; }

/* Overflow horizontal (x-axis) only */
.u-overflow-x-visible { overflow-x: visible !important; }
.u-overflow-x-hidden { overflow-x: hidden !important; }
.u-overflow-x-clip { overflow-x: clip !important; }
.u-overflow-x-scroll { overflow-x: scroll !important; }
.u-overflow-x-auto { overflow-x: auto !important; }

/* Overflow vertical (y-axis) only */
.u-overflow-y-visible { overflow-y: visible !important; }
.u-overflow-y-hidden { overflow-y: hidden !important; }
.u-overflow-y-clip { overflow-y: clip !important; }
.u-overflow-y-scroll { overflow-y: scroll !important; }
.u-overflow-y-auto { overflow-y: auto !important; }

/* Text Box Trim Rules*/
.u-text-bt-none { text-box-trim: none; }
.u-text-bt-end { text-box-trim: trim-end; }
.u-text-bt-both { text-box-trim: trim-both; }
.u-text-bt-start { text-box-trim: trim-start; }

/* Text Box Edge Rules*/
.u-tbe-a { text-box-edge: auto; }
.u-tbe-ca { text-box-edge: cap alphabetic; }
.u-tbe-ct { text-box-edge: cap text; }
.u-tbe-ea { text-box-edge: ex alphabetic; }
.u-tbe-et { text-box-edge: ex text; }
.u-tbe-ta { text-box-edge: text alphabetic; }
.u-tbe-t { text-box-edge: text; }

/*  Details Animrtions Only Works On Chrome ATM */
@supports (interpolate-size: allow-keywords) {
    @media (prefers-reduced-motion: no-preference) {
      :root { interpolate-size: allow-keywords; }
      ::details-content { height: 0; overflow: clip; transition: var(--u-detial-transition); }
      [open]::details-content { height: auto;}
    }
}

