.wp-playlist {
  margin: 0;
  padding: 0;
  color: #fff;
  border: none;
  background: #000;
}

.wp-playlist-current-item {
  margin: 0;
  padding: 10px;
  height: unset;
}

.wp-playlist-current-item img {
  width: 90px;
  display: flex;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  background-color: #212121;
  max-width: 128px !important;
}

.wp-playlist * {
  color: #fff;
}

.mejs-container .mejs-controls {
  border-top: solid 1px #555;
}

.wp-playlist .wp-playlist-tracks {
  margin: 0 !important;
  border-top: solid 1px #555;
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item {
  color: #fff;
  padding: 10px;
  display: flex;
  background: #212121;
  vertical-align: bottom;
  border-bottom-color: #555;
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item * {
  color: #fff;
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item:hover {
  background: var(--universal-accent-color);
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item:hover * {
  color: var(--universal-accent-color-text-color);
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item .wp-playlist-caption {
  color: #fff !important;
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item-length {
  top: unset;
  padding-right: 5px;
}

.wp-playlist .wp-playlist-tracks .wp-playlist-playing {
  font-weight: normal;
  border-bottom-color: var(--universal-accent-color);
}

.universal-mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.universal-mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
  background: var(--universal-accent-color);
}

.universal-mejs-container .mejs-controls .mejs-time-rail span {
    color: #000;
}
