:root {
  --wpx-grey: #a8a8a5;
  --wpx-grey-dark: #8a8a8a;
  --wpx-white: #fff;
  --wpx-blue: #0073aa;
  --wpx-blue-dark: #005a87;
  --wpx-blue-mid: #135e96;
  --wpx-text: #2c3338;
  --wpx-shadow: rgba(0, 0, 0, 0.1);
}

/* General Customizer Control Styles */
.wpx-control {
  display: block;
  margin-top: 10px;
}

/* Divider */
.wpx-divider {
  margin-bottom: 0;
}

.wpx-control .wpx-control-info {
  flex: 2 0 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.wpx-ratio-group {
  gap: 10px;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 125px 125px;
}

/* Hidden Checkbox */
.wpx-ratio-group input[type="radio"] {
  display: none;
}

/* Hidden Checkbox */
.wpx-ratio-group label .wpx-ratio-card {
  width: 125px;
  height: 125px;
  display: block;
  cursor: pointer;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  background-color: var(--wpx-grey);
  border: 1px groove var(--wpx-grey);
  transition: background-color 100ms ease, border 100ms ease;
}

/* Hidden Checkbox */
.wpx-ratio-group label .wpx-ratio-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hidden Checkbox */
.wpx-toggle-control input[type="checkbox"] {
  display: none;
}

/* Switch Container */
.wpx-control .wpx-toggle-control {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-items: center;
  align-content: space-between;
}

/* Checkbox Indicator */
.wpx-control .wpx-toggle-switch {
  width: 50px;
  height: 22px;
  padding: 2px;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  display: inline-block;
  background-color: var(--wpx-grey);
  border: 1px groove var(--wpx-grey);
  transition: background-color 100ms ease, border 100ms ease;
}

/* Checkbox Head (using ::before pseudo-element) */
.wpx-control .wpx-toggle-switch::before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  transition: transform 100ms ease;
  background-color: var(--wpx-white);
  box-shadow: 0 0 1px 1px var(--wpx-shadow);
}

/* Checked State */
.wpx-control input[type="radio"]:checked+.wpx-ratio-card,
.wpx-control input[type="checkbox"]:checked+.wpx-toggle-switch {
  color: var(--wpx-white);
  border-color: var(--wpx-blue);
  background-color: var(--wpx-blue);
}

.wpx-control input[type="checkbox"]:checked+.wpx-toggle-switch::before {
  transform: translateX(28px);
}

/* Focus State */
.wpx-control input[type="radio"]:hover+.wpx-ratio-card,
.wpx-control input[type="checkbox"]:hover+.wpx-toggle-switch {
  border-color: var(--wpx-blue-mid);
  background-color: var(--wpx-blue-mid);
}

/* Hover State */
.wpx-control input[type="radio"]:hover+.wpx-ratio-card,
.wpx-control input[type="checkbox"]:hover+.wpx-toggle-switch {
  border-color: var(--wpx-grey-dark);
  background-color: var(--wpx-grey-dark);
}

.wpx-control input[type="radio"]:checked:hover+.wpx-ratio-card,
.wpx-control input[type="checkbox"]:checked:hover+.wpx-toggle-switch {
  border-color: var(--wpx-blue-mid);
  background-color: var(--wpx-blue-mid);
}

/* Focus and Hover State */
.wpx-control input[type="radio"]:focus:hover+.wpx-ratio-card,
.wpx-control input[type="checkbox"]:focus:hover+.wpx-toggle-switch {
  border-color: var(--wpx-blue-dark);
  background-color: var(--wpx-blue-dark);
}

/* Active State */
.wpx-control input[type="radio"]:active+.wpx-ratio-card,
.wpx-control input[type="checkbox"]:active+.wpx-toggle-switch {
  border-color: var(--wpx-blue-dark);
  background-color: var(--wpx-blue-dark);
}

.wpx-range-group,
.wpx-color-picker-group {
  gap: 20px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 100%;
}

.wpx-range-group {
  gap: 4px;
}

.wpx-color-picker-group .wpx-color-picker-display {
  width: 100%;
  height: 25px;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--wpx-white);
  grid-template-columns: 100%;
  background-color: var(--wpx-blue-dark);
  transition: background-color 250ms linear, color 250ms linear;
}

.wpx-color-picker-group .wpx-range-value {
  width: 100%;
  display: grid;
  color: var(--wpx-text);
  accent-color: var(--wpx-blue);
  justify-content: space-between;
  grid-template-columns: auto auto auto;
}

.wpx-color-picker-group .wpx-range-input {
  width: 100%;
  accent-color: var(--wpx-blue);
  transition: accent-color 100ms ease;
}

.wpx-color-picker-group .wpx-range-input:hover {
  accent-color: var(--wpx-blue-dark);
}

.wpx-color-picker-group .wpx-range-input:focus {
  accent-color: var(--wpx-blue-mid);
}

.wpx-color-picker-group .wpx-swap-control {
  gap: 10px;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr auto;
}

.wpx_date_input::-webkit-datetime-edit-hour-field:focus,
.wpx_date_input::-webkit-datetime-edit-minute-field:focus,
.wpx_date_input::-webkit-datetime-edit-second-field:focus,
.wpx_date_input::-webkit-datetime-edit-ampm-field:focus,
.wpx_date_input::-webkit-datetime-edit-day-field:focus,
.wpx_date_input::-webkit-datetime-edit-week-field:focus,
.wpx_date_input::-webkit-datetime-edit-month-field:focus,
.wpx_date_input::-webkit-datetime-edit-year-field:focus  {
  color: var(--wpx-white);
  border-color: var(--wpx-blue);
  background-color: var(--wpx-blue);
}

.wpx_date_input::-moz-datetime-edit-hour-field:focus,
.wpx_date_input::-moz-datetime-edit-minute-field:focus,
.wpx_date_input::-moz-datetime-edit-second-field:focus,
.wpx_date_input::-moz-datetime-edit-ampm-field:focus,
.wpx_date_input::-moz-datetime-edit-second-field:focus,
.wpx_date_input::-moz-datetime-edit-ampm-field:focus,
.wpx_date_input::-moz-datetime-edit-day-field:focus,
.wpx_date_input::-moz-datetime-edit-week-field:focus,
.wpx_date_input::-moz-datetime-edit-month-field:focus,
.wpx_date_input::-moz-datetime-edit-year-field:focus  {
  color: var(--wpx-white);
  border-color: var(--wpx-blue);
  background-color: var(--wpx-blue);
}

::selection{
  color: var(--wpx-white);
  border-color: var(--wpx-blue);
  background-color: var(--wpx-blue);
}

/* date, datetime-local, datetime, month, time & week patches */
.wpx_date_input {
  appearance: none !important;
}